In [1]:
import sys
import os
import pandas as pd
sys.path.append(os.path.abspath("../scripts/"))
from datareader import DataReader
import db_connector

In [2]:
dr = DataReader()

In [3]:
vehicle_df, trajectories_df = dr.extract_data('../data/20181030_d1_0830_0900.csv')

In [4]:
vehicle_df.head()

                       uid  track_id           type  traveled_d  avg_speed
0  20181030_d1_0830_0900_0         1     Motorcycle      437.90  38.263167
1  20181030_d1_0830_0900_1         2            Car       13.02  46.867711
2  20181030_d1_0830_0900_2         3            Car       30.57  45.849836
3  20181030_d1_0830_0900_3         4            Car       32.48  29.232894
4  20181030_d1_0830_0900_4         5  Heavy Vehicle       55.81  16.743931

In [5]:
trajectories_df.head()

,uid,lat,lon,speed,lon_acc,lat_acc,time
0,20181030_d1_0830_0900_0,37.980460,23.735138,37.3105,0.1657,-0.0118,0.00
1,20181030_d1_0830_0900_0,37.980457,23.735141,37.3196,-0.0395,-0.0138,0.04
2,20181030_d1_0830_0900_0,37.980454,23.735143,37.3048,-0.1659,-0.0158,0.08
3,20181030_d1_0830_0900_0,37.980451,23.735146,37.2718,-0.2922,-0.0179,0.12
4,20181030_d1_0830_0900_0,37.980448,23.735149,37.2121,-0.5369,-0.0199,0.16

In [7]:
db_connector.insert_table(vehicle_df, 'vehicles')

In [8]:
db_connector.insert_table(trajectories_df, 'trajectories')